.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
}

.desc {
  font-size: 21px;
  color: rgb(10, 9, 9);
  /* padding-top: 1rem; */
}

.services {
  padding: 5px;
  margin-top: 15px;
}

.serviceItem {
  display: flex;
  align-items: center;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
  gap: 10px;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        justify-content: center;
        padding:0 15px;
    }

    .text {
        background-color: snow;
        margin: 20px 0;
        border-radius: 20px;
        width: 100%;
        padding: 15px;
    }

    .title {
        font-size: 2.2rem;
    }

    .desc {
        font-size: 18px;
    }

    .serviceItem {
        font-size: 18px;
    }
}