@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

:root {
  --bgcolor: #efefef;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bgcolor);
  font-family: sans-serif;
}

@import "tailwindcss";
